@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}

@layer components {
  .font-special {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
  }
}
